body {
  background: url(../wallpaper-1266561.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color:#333;
}
.lead {
  color:#ffffff;
  font-weight: 300;
}
.textbox {
  margin: 10px;
  padding: 5px;
  background-color:#121212;
  opacity: 0.6;
}
