body {
  background: url(../ball-1023982_1920.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color:#ddd;
}
.lead {
  color:#ddd;
}
